<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '103289206781675',
          xfbml      : true,
          version    : 'v2.7'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    {% include header.html %}

    <div class="page-content">

      <!--
      <center style="margin-top: -20px; padding-bottom: 10px">
        <a href="http://www.elegantthemes.com/affiliates/idevaffiliate.php?id=32719_1_1_13" target="_blank" rel="nofollow">
        <img style="border:0px" src="http://www.elegantthemes.com/affiliates/media/banners/570x100.jpg" width="570" height="100" alt=""></a>
      </center>-->

      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
