---
layout: default
---

<a href="https://www.a2hosting.com/wordpress-hosting?aid=bd2655ba&amp;bid=34a1a99e" target="_top">
  <img src="http://lurtz.a2hosting.com/accounts/default1/banners/34a1a99e.png" alt="" title="" width="234" height="60" /></a>
  <img style="border:0" src="https://affiliates.a2hosting.com/scripts/imp.php?aid=bd2655ba&amp;bid=34a1a99e" width="1" height="1" alt="" />

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

{% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = 'tsaqib';
    var disqus_config = function () {
    this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"; 
    this.page.identifier = "{{ page.id }}"; 
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//tsaqib.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}